*{
   padding: 0;
   margin: 0;
}
body{
    background: linear-gradient(to right ,rgb(77, 109, 143) , rgb(63, 79, 105));
}
#header{
    text-align: center;
    padding: 50px;
    background-color: rgb(79, 46, 46);
    color: aliceblue;
}
.container{
    padding: 40px;
   display: grid;
   grid-template-columns: 50px 50px 50px 50px 50px;
   grid-template-rows: 50px 50px 50px 50px 50px 50px;
   text-align: center;
   justify-content: center;
}

.i1{
   border: solid rgb(22, 22, 25);
   background :linear-gradient( to bottom right , rgba(3, 22, 3, 0.872),rgb(6, 25, 7));
   color: aquamarine;
   text-align: center;
   padding-top: 20%;
}
.i1:hover{
    background: linear-gradient(to right,rgb(33, 33, 33),rgb(26, 26, 26))
}
.i2{
   grid-area: 1 / 1 /  3  /  5 ;
}
.i3{
   grid-area: 6/2/6/3;
}
.i4{
   grid-area: 6/3/6/6;
}
#c17{
   overflow-x: scroll;
}